@font-face {
    font-family: "Eurostile";
    font-weight: bold;
    src: local("Eurostile"), url("font/eurostile.TTF") format("opentype"); /* non-IE */
}
body{
    background-color: #0a175b;
    box-sizing: border-box;
    color: white;
}

h1 {
    padding: 10px;
    font-size: xxx-large;
    font-family: 'Eurostile', sans-serif;
}


.calc-display{
    width: 340px;
    height: 60px;
    margin: 30px 30px 0px;
    border: 2px solid #050505;


    background-color: #80600b;
    text-align: end;
    color: ghostwhite;
    font-size: xxx-large;
}


.calc-btns{
    flex-wrap: nowrap;
    width: 335px;
    /*height: 500px;*/
    margin: 40px 0 40px 35px;
}

.calc{
    border: thin solid #050505;
    width: 400px;
    background-color: #0e102a;
}

.center{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    width: 80px;
    height: 80px;
    font-size: xxx-large;
    background: #050505;
    /*background-image: -webkit-linear-gradient(top, #050505, #2980b9);*/
    /*background-image: -moz-linear-gradient(top, #050505, #2980b9);*/
    /*background-image: -ms-linear-gradient(top, #050505, #2980b9);*/
    /*background-image: -o-linear-gradient(top, #050505, #2980b9);*/
    background-image: linear-gradient(to bottom, #050505, #2980b9);
    /*-webkit-border-radius: 7;*/
    /*-moz-border-radius: 7;*/
    border-radius: 15px;
    border-width: thin;
    font-family: Arial, serif;
    color: #ffffff;
    /*font-size: 22px;*/
    /*padding: 10px 20px 10px 20px;*/
    text-decoration: none;
    margin: 1px 0px;
}
button:hover {
    background: #263036;
    /*background-image: -webkit-linear-gradient(top, #263036, #3498db);*/
    /*background-image: -moz-linear-gradient(top, #263036, #3498db);*/
    /*background-image: -ms-linear-gradient(top, #263036, #3498db);*/
    /*background-image: -o-linear-gradient(top, #263036, #3498db);*/
    background-image: linear-gradient(to bottom, #263036, #3498db);
    text-decoration: none;
}

#brand{
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Eurostile', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.zero {
    width: 165px;
}

.not-num{
    background-image: linear-gradient(to bottom, #050505, red);
}
.not-num:hover {
    background-image: linear-gradient(to bottom, #263036, orangered);
}